<% if secret.errors.any? %>
    <% secret.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>
<%= form_for secret, :url => {:action => action, :id => params[:id]} do |f| %>
    <%= f.label :secret %>
    <%= f.text_field :secret %>
    <%= f.label :show_secret %>
    <%= f.check_box :show_secret %>
    <%= f.submit "Submit Secret" %>
<% end %>
